<%= form_for @workout do |f| %>
  <div class="form-group"><%= f.label :name %><%= f.text_field :name, class: 'form-control' %></div>
  <div class="form-group"><%= f.label :difficulty %> <%= f.select :difficulty, ['easy', 'medium', 'hard'], {}, { class: 'form-control'} %></div>
  <%= f.hidden_field :community_id, value: community_id(@community, @workout) %>
  <div class="form-group"><%= f.submit 'Create', class: 'btn btn-default' %></div>
<% end %>
