<%= link_to workout_path(workout) do %>
  <article class="workout_link">
    <h2><%= workout.name %></h2>
    <p>Owner: <%= workout.user.username %> | Mantra: <%= workout.user.mantra %> |
    Difficulty: <%= workout.difficulty %> | Status: <%= workout.started? ? 'Started' : 'Not Started' %></p>
    <h3>Participants</h3>
    <table class="table-bordered table-condensed table">
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Mods</th>
        <th>Done</th>
        <th>PR</th>
      </tr>
      <% workout.workout_sessions.each do |session| %>
        <tr>
          <td><%= session.user.username %></td>
          <td><%= session.comment %></td>
          <td><%= session.mod_count %></td>
          <td>
            <% if session.accomplished? %>
              <span class="glyphicon glyphicon-ok"></span>
              <% end %>
          </td>
          <td>
            <% if session.pr? %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </article>
<% end %>
