<div class="row">
  <div class="col-md-8 well">
    <h1>My Workouts</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <section class="well">
      <h2>Pending Workouts</h2>
      <% @my_workouts_pending.each do |workout| %>
          <%= render partial: 'workouts', locals: {workout: workout} %>
      <% end %>
    </section>
    <section class="well">
      <h2>Completed Workouts</h2>
      <% @my_workouts_completed.each do |workout| %>
          <%= render partial: 'workouts', locals: {workout: workout} %>
      <% end %>
    </section>
  </div>

  <section class="col-md-4 well">
    <article>
      <h1>Communities</h1>
      <%= button_to 'Create a community', new_community_path, class: 'btn btn-default', method: 'get' %><br>
      <table class="table-bordered table-condensed table">
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Workouts</th>
        </tr>
        <% @communities.each do |community| %>
          <tr>
            <td><%= link_to community.name, community %></td>
            <td><%= community.members_count %></td>
            <td><%= community.workouts_count %></td>
          </tr>
        <% end %>
      </table>
    </article>
    <h1>Other Workouts</h1>
    <% @other_workouts.each do |workout| %>
        <%= render partial: 'workouts', locals: {workout: workout} %>
    <% end %>
  </section>
</div>
