<div class="jumbotron">
  <h1 class="left"><%= @workout.name %></h1>
  <p>Community: <%= link_to @workout.community.name, @workout.community %> |
  Creator: <%= @workout.user.username %> |
  Difficulty: <%= @workout.difficulty %> |
  Workout Status: <%= @workout.started? ? 'Started' : 'Not Started' %></p>
  <% if current_user == @workout.user && !@workout.started? %>
    <nav class="col-md-4">
      <ul class="nav nav-pills nav-justified">
        <li><%= link_to 'Edit Workout', edit_workout_path, class: 'btn btn-default' %></li>
        <li><%=link_to 'Delete Workout',  @workout, method: 'delete', confirm: 'Are you sure?', class: 'btn btn-default' %></li>
      </ul>
    </nav>
  <% end %>
  <%= link_to 'Copy workout', copy_workout_path(@workout), class: 'btn btn-default' %>
</div>
<div class="row well no_padding">
  <article class="col-md-7 side_border">
    <h2>Exercises</h2>
    <% @workout.exercises.includes(:exercise_sessions).each do |exercise| %>
      <p><span class="ex_name"><%= link_to exercise.name, exercise %></span>
       | Detail: <%= exercise.detail %> | Duration: <%= exercise.duration %></p>
      <table class="table-bordered table-condensed table">
        <tr>
          <th>User</th>
          <th>Modified</th>
          <th>Comment</th>
          <th>Done</th>
          <th>PR</th>
        </tr>
        <% exercise.exercise_sessions.includes(:workout, :user).each do |exercise_session| %>
          <% if exercise_session.workout == @workout %>
            <tr>
              <td><%= exercise_session.user.username %></td>
              <% if exercise_session.modified? %>
                <td><%= link_to exercise_session.exercise_modified.name,  exercise_session.exercise_modified %></td>
              <% else %>
                <td>Nope</td>
              <% end %>
              <td><%= exercise_session.comment %></td>
              <td>
                <% if exercise_session.accomplished? %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% end %>
              </td>
              <td>
                <% if exercise_session.pr? %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </table>
        <% exercise.exercise_sessions.each do |exercise_session| %>
          <% if exercise_session.workout == @workout && exercise_session.user == current_user && !exercise_session.accomplished? %>
            <%= form_for exercise_session, method: 'put', html: {class: 'form-inline'} do |f| %>
              <div class="form-group">
                <%= f.collection_select :exercise_mod, Exercise.all, :id, :name, {prompt: true}, { class: 'form-control'} %>
              </div>
              <div class="form-group"><%= f.label :comment, class: 'sr-only' %><%= f.text_field :comment, class: 'form-control', placeholder: 'Comment' %></div>
              <div class="checkbox"><%= f.label :pr,  'PR' %> <%= f.check_box :pr %></div>
              <%= f.hidden_field :accomplished, value: true %>
              <%= f.submit 'Did it!', class: 'btn btn-default' %>
              <br><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% if current_user.participating?(@workout) %>
      <%= form_for @workout, html: {class: 'form-inline'} do |f| %>
        <div class="form-group">
          <%= f.collection_select :exercise_ids, @workout.exercises_to_add, :id, :name, {}, { class: 'form-control'} %>
        </div>
        <%= f.submit 'Add to workout', class: 'btn btn-default' %>
      <% end %>
      <%= link_to "Don't see your exercise, create it!", new_exercise_path(@workout) %>
    <% end %><br><br>
    <% if !@workout.workout_sessions.map(&:user_id).include?(current_user.id) && current_user.community_member?(@workout.community) %>
      <br><br><p>Join the workout!</p>
      <%= render partial: 'workout_session', locals: {workout_session: @workout_session, method: 'post', submit: 'Join'} %><br><br>
    <% end %>

  </article>
  <article class="col-md-5">
    <h2>Participants</h2>
    <table class="table-bordered table-condensed table">
      <tr>
        <th>User</th>
        <th>Comment</th>
        <th>Mods</th>
        <th>Done</th>
        <th>PR</th>
      </tr>
      <% @workout.workout_sessions.includes(:user, :workout).each do |session| %>
        <tr>
          <td><%= session.user.username %></td>
          <td><%= session.comment %></td>
          <td><%= session.mod_count %></td>
          <td>
            <% if session.accomplished? %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          </td>
          <td>
            <% if session.pr? %>
              <span class="glyphicon glyphicon-star"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
      <% @workout.workout_sessions.each do |session| %>
        <% if session.user.id == current_user.id %>
          <% if !session.accomplished? %>
            <%= render partial: 'workout_session', locals: {workout_session: session, method: 'put', submit: 'Complete'} %><br>
            <%= link_to 'Quit Workout', session, method: 'delete', confirm: 'Are you sure', class: 'btn btn-default' %><br><br>
          <% end %>
        <% end%>
    <% end %>
  </article>
</div>
