<h1><%= @workout.name %></h1>

<% if current_user == @workout.user %>
  <nav>
    <ul>
      <li><%= link_to 'Edit Workout', edit_workout_path %></li>
      <li><%=link_to 'Delete Workout',  @workout, method: 'delete', confirm: 'Are you sure?' %></li>
    </ul>
  </nav>
<% end %>

<article>
  <p>Owner: <%= @workout.user.username %></p>
  <p>Difficulty: <%= @workout.difficulty %></p>
  <p>Posted Status: <%= @workout.posted? ? 'Posted' : 'Not Posted' %></p>
  <p>Workout Status: <%= @workout.started? ? 'Started' : 'Not Started' %></p>
  <p>Exercises:</p>
  <ol>
    <% @workout.exercises.each do |exercise| %>
      <li>
        <%= link_to exercise.name, exercise %>
        <% exercise.exercise_sessions.each do |exercise_session| %>
          <% if exercise_session.workout == @workout %>
            <ul>
              <li>User: <%= exercise_session.user.username %></li>
              <li>PR: <%= exercise_session.pr %></li>
              <li>Comment: <%= exercise_session.comment %></li>
              <li>Mod: <%= exercise_session.mod %></li>
              <li>Accomplished: <%= exercise_session.accomplished %></li>
              <li>Status: <%= exercise_session.status %></li>
            </ul>
            <br>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ol>
  <p>Participants:</p>
  <ul>
    <% @workout.workout_sessions.each do |session| %>
      <li>
        <%= session.user.username %>
        <ul>
          <li>PR: <%= session.pr? ? 'Yes' : 'No' %></li>
          <li>Status: <%= session.status %></li>
          <li>Accomplished: <%= session.accomplished? ? 'Yes' : 'No' %></li>
          <li>Comments: <%= session.comment %></li>
        </ul>
        <% if session.user.id == current_user.id %>
          <% if !session.accomplished? %>
            <%= render partial: 'workout_session', locals: {workout_session: session, method: 'put', submit: 'Complete'} %>
            <%= link_to 'Quit Workout', session, method: 'delete', confirm: 'are you sure' %>
          <% end %>
        <% end%>
      </li>
    <% end %>
  </ul>
  <% if !@workout.workout_sessions.map(&:user_id).include?(current_user.id) %>
    <p>Join the workout!</p>
    <%= render partial: 'workout_session', locals: {workout_session: @workout_session, method: 'post', submit: 'Join'} %>
  <% end %>
</article>
