<div class="jumbotron">
  <h1><%= @community.name %></h1>
  <p><%= @community.description %></p>
  <% if current_user.community_member?(@community) %>
    <!-- Can't add a workout unless they are a member -->
    <%= link_to 'Add a workout', new_workout_path(@community), class: 'btn btn-default' %><br><br>
    <%= button_to 'Quit community', member_delete_path(@community), method: 'delete', confirm: 'Are you sure?', class: 'btn btn-default' %>
  <% else %>
    <%= button_to 'Join community', member_create_path(@community) , class: 'btn btn-default' %>
  <% end %>
</div>

<div class="row well">
  <section class="col-md-6 side_border">
    <h2>Members</h2>
    <article>
      <table class="table-bordered table-condensed table">
        <tr>
          <th>User</th>
          <th>Mantra</th>
          <th>Workouts Completed</th>
          <th>PRs</th>
        </tr>
        <% @community.users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.mantra %></td>
            <td><%= user.finished_count %></td>
            <td><%= user.pr_count %></td>
          </tr>
        <% end %>
      </table>
    </article>
  </section>
  <section class="col-md-6">
    <h2>Workouts</h2>
    <article>
      <table class="table-bordered table-condensed table">
        <tr>
          <th>Workout</th>
          <th>Difficulty</th>
          <th>Started</th>
        </tr>
        <% @community.workouts.each do |workout| %>
          <tr>
            <td><%= link_to workout.name, workout %></td>
            <td><%= workout.difficulty %></td>
            <td><%= workout.started? ? 'Yes' : 'No' %></td>
          </tr>
        <% end %>
      </table>
    </article>
  </section>
</div>
