<h1><%= @exercise.name %></h1>
<%= link_to 'Edit Exercise', edit_exercise_path %>
<%= link_to 'Delete Exercise', @exercise, method: 'delete', confirm: 'Are you sure?' %>
<article>
  <p>Detail: <%= @exercise.detail %></p>
  <p>Duration: <%= @exercise.duration %></p>
  <p>Workouts:</p>
  <ul>
    <% @exercise.workouts.each do |workout| %>
      <li><%= link_to workout.name, workout %></li>
    <% end %>
  </ul>
</article>
